* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    margin: 50px;
}

.button {
    /* background-color: red; */
    width: 180px;
    height: 80px;
    display: flex;
    font-size: 32px;
    text-decoration: none;
    position: relative;
}

.button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #FFFF00, #FF0000);
    inset: 0px;
    opacity: 0;
    z-index: -1;
    transition: all 0.4s;
}

.button:hover::after {
    opacity: 1;
    inset: -2px;
    filter: blur(5px);
}

span {
    background-color: #000;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 80px;
    color: #FFF;
    text-transform: uppercase;
}