* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    height: 100vh;
}

.music {
    width: 200px;
    height: 200px;
    transform: rotate(90deg);
}

.bass {
    width: 10px;
    height: 10px;
    background-color: #01788d;
    box-shadow: 0 0 5px #19effa, 0 0 25px #19effa, 0 0 35px #19effa, 0 0 45px #19effa;
    margin-top: 10px;
}

.b-1 {
    animation: Base1 3s infinite;
    animation-direction: alternate;
}

.b-2 {
    animation: Base2 1s infinite;
    animation-direction: alternate;
}

.b-3 {
    animation: Base3 4s infinite;
    animation-direction: alternate;
}

.b-4 {
    animation: Base4 2s infinite;
    animation-direction: alternate;
}

.b-5 {
    animation: Base5 6s infinite;
    animation-direction: alternate;
}

@keyframes Base1 {
    0% {
        width: 0px;
    }
    20% {
        width: 45px;
    }
    40% {
        width: 65px;
    }
    60% {
        width: 34px;
    }
    80% {
        width: 80px;
    }
    100% {
        width: 120px;
    }
}

@keyframes Base2 {
    0% {
        width: 0px;
    }
    30% {
        width: 40px;
    }
    80% {
        width: 80px;
    }
    100% {
        width: 60px;
    }
}

@keyframes Base3 {
    0% {
        width: 0px;
    }
    40% {
        width: 42px;
    }
    80% {
        width: 12px;
    }
    100% {
        width: 130px;
    }
}

@keyframes Base4 {
    0% {
        width: 0px;
    }
    25% {
        width: 84px;
    }
    50% {
        width: 65px;
    }
    100% {
        width: 109px;
    }
}

@keyframes Base5 {
    0% {
        width: 0px;
    }
    45% {
        width: 40px;
    }
    75% {
        width: 22px;
    }
    100% {
        width: 130px;
    }
}